<!DOCTYPE html>
<html lang="pt-BR" ng-app="cadClientes">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="style.css">
    <script src="angular/angular.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script>
        angular.module("cadClientes", []);
        angular.module("cadClientes").controller("cadClientesCrtl",
            function ($scope) {
                $scope.app = "Cadastro de Clientes"
                $scope.clientes = [
                    { nome: "Lucas", codigo: "1914" },
                    { nome: "Aline", codigo: "2015" },
                ];
                $scope.adicionarCliente = function() {
                    $scope.clientes.push({nome: $scope.nome, codigo: $scope.codigo})
                }
            });
    </script>
</head>

<body ng-controller="cadClientesCrtl">
    <div class="jumbotron">
        <h3>{{app}}</h3>
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Código</th>
            </tr>
            <tr ng-repeat="cliente in clientes">
                <td>{{cliente.nome}}</td>
                <td>{{cliente.codigo}}</td>
            </tr>
        </table>
        <hr>
        <div class="formulario">
            <input class="form-control" type="text" ng-model="nome" placeholder="Nome">
            <input class="form-control" type="text" ng-model="codigo" placeholder="Código">
            <button class="btn btn-primary btn-block" ng-click="adicionarCliente()">Adicionar Cliente</button>
        </div>
    </div>
</body>

</html>