.jumbotron {
    width: 400px;
    text-align: center;
     margin-left: auto; 
     margin-right: auto; 
     margin-top: 15px; 
     background-color: #e9ecef; 
     padding: 2rem 1rem; 
     justify-content: center;
}

.table {
    margin-top: 20px;
}