.jumbotron {
    width: 400px;
    text-align: center;
     margin-left: auto; 
     margin-right: auto; 
     margin-top: 15px; 
     background-color: #e9ecef; 
     padding-left: 20px;
     padding-right: 20px;
}

.table {
    margin-top: 15px;
}

.form-control {
    margin-bottom: 10px;
}

.selecionado {
    background-color: rgb(178, 178, 218);
}

.negrito {
    font-weight: bold;
}